#room{
  width: auto;
  height: 300px;
  overflow: auto;
  background-color: rgb(113, 147, 193);
}
#output{
    color: white;
}
input{
    width: auto;
    display: flex;
}
textarea{
    width: 300px;
    display: flex;
}
button{
    color:white;
    background-color: #a9ccfa;
    border: none;
    margin: auto;
}
.material-icons-outlined{
    color: black;
}